:root {
  --azul-univer: #2c3e50;
  --azul-acento: #3498db;
  --gris-fondo: #f4f7f6;
  --blanco: #ffffff;
  --borde: #dcdde1;
}

body {
  font-family: "Segoe UI", Tahoma;
  background-color: var(--gris-fondo);
  margin: 0;
  padding: 20px;
  color: #333;
}

.header-proyecto {
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid var(--azul-univer);
  padding-bottom: 10px;
}

h1 {
  color: var(--azul-univer);
  margin-bottom: 5px;
}

.card {
  background: var(--blanco);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2rem;
  border-left: 4px solid var(--azul-acento);
  padding-left: 10px;
  margin-bottom: 20px;
  color: var(--azul-univer);
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: span 2;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9em;
}

input {
  padding: 10px;
  border: 1px solid var(--borde);
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: var(--azul-acento);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.3);
}

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-guardar {
  background-color: var(--azul-acento);
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--blanco);
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid var(--borde);
}

th {
  background-color: var(--azul-univer);
  color: white;
}
dialog {
  margin: auto;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

body:has(dialog[open]) {
  overflow: hidden;
}
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.8em;
  color: #95a5a6;
}
