<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema de Registro - Turistas</title>
  </head>
  <body>
    <div style="max-width: 900px; margin: 0 auto">
      <div class="header-proyecto">
        <h1>Gestión de Turistas</h1>
      </div>

      <div class="card">
        <div
          class="card-header"
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <h2>Listado de Turistas Registrados</h2>
          <button class="btn btn-guardar" onclick="miModal.showModal()">
            Nuevo Turista
          </button>
        </div>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>DNI/Pasaporte</th>
              <th>Teléfono</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="turista : ${turistas}">
              <td th:text="${turista.idTurista}"></td>
              <td th:text="${turista.nombre}"></td>
              <td th:text="${turista.apellido}"></td>
              <td th:text="${turista.dni_pasaporte}"></td>
              <td th:text="${turista.telefono}"></td>
              <td th:text="${turista.correo}"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <dialog
        id="miModal"
        style="border: none; border-radius: 8px; padding: 20px; width: 800px"
      >
        <div
          class="card-header"
          style="justify-content: space-between; display: flex"
        >
          <h2>Registro de Nuevo Ingreso</h2>
          <button class="btn" onclick="miModal.close()">Cerrar</button>
        </div>
        <form th:action="@{/guardar}" method="post">
          <div class="form-grid">
            <div class="form-group">
              <label>Nombre:</label>
              <input
                type="text"
                name="nombre"
                placeholder="Ej. Juan"
                required
              />
            </div>
            <div class="form-group">
              <label>Apellido:</label>
              <input
                type="text"
                name="apellido"
                placeholder="Ej. Pérez"
                required
              />
            </div>
            <div class="form-group">
              <label>DNI / Pasaporte:</label>
              <input
                type="text"
                name="dni_pasaporte"
                placeholder="Número de documento"
                required
              />
            </div>
            <div class="form-group">
              <label>Teléfono:</label>
              <input type="tel" name="telefono" placeholder="+54 9 11..." />
            </div>
            <div class="form-group">
              <label>Correo Electrónico:</label>
              <input
                type="email"
                name="correo"
                placeholder="ejemplo@correo.com"
                required
              />
            </div>
          </div>

          <div class="btn-container">
            <button type="reset" class="btn" style="background: #eee">
              Limpiar
            </button>
            <button type="submit" class="btn btn-guardar">
              Guardar Registro
            </button>
          </div>
        </form>
      </dialog>

      <footer>
        &copy; 2024 - Sistema de Registro de Turistas | Facultad de Ingeniería
      </footer>
    </div>
  </body>
</html>
